__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.log
pc_server/lms_proxy.log
.DS_Store
Thumbs.db

# Ignorer les parties et sauvegardes locales
pc_server/conversations/*
!pc_server/conversations/.gitkeep
